<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=utf-8>
    <title>管理平台</title>
    <link href=../static/css/app.556796164034ca10aae5ee8b60bf428b.css th:href="@{css/app.556796164034ca10aae5ee8b60bf428b.css}" rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=../static/js/manifest.11a66be337369101db4f.js th:src="@{js/manifest.11a66be337369101db4f.js}"></script>
<script type=text/javascript src=../static/js/vendor.36a03e1db3515b3b7d60.js th:src="@{js/vendor.36a03e1db3515b3b7d60.js}"></script>
<script type=text/javascript src=../static/js/app.78464068757b2d8df248.js th:src="@{/js/app.78464068757b2d8df248.js}"></script>
</body>
</html>